{% extends 'djbs/bootstrap.html' %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
        <a class="h1 navbar-brand mb-0" href="#">{% block brand %}DjBs{% endblock %}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <ul class="navbar-nav ml-auto">
            </ul>
        </div>
    </nav>
    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>
{% endblock %}
